<div class="Container">
    <div class="FormWrap">
        <a class="Icon" routerLink='/home'>Market</a>
        <div class="FormContent">
            <form class="Form" action='#'>
                <h1 class="FormH1">Вход в учетную запись</h1>
                <label class="FormLabel" htmlFor='for'>Логин</label>
                <input class="FormInput" htmlFor='login' required type="text" name="login" />
                <label class="FormLabel" htmlFor='for'>Пароль</label>
                <input class="FormInput" htmlFor='password' required type="text" name="password" />
                <button class="FormButton" type='submit'>Войти</button>
                <span class="Text">Забыли пароль?</span>
            </form>
        </div>
    </div>
</div>