<header>
    <div class="logo">
        <button (click)="onHomeClick()">
            <h1>Market</h1>
        </button>
    </div>
    <div class="search">
        <input type="text" placeholder="Поиск">
    </div>
    <div class="icons">
        <button (click)="onBasketClick()">
            <img src="../../assets/icons/корзина.png" alt="Корзина">
            <h3>Корзина</h3>
        </button>
        <button (click)="onProfileClick()">
            <img src="../../assets/icons/пользователь.png" alt="Профиль">
            <h3>Профиль</h3>
        </button>
    </div>

</header>